.icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	@media (max-width: 991px){
		width: 36px;
		height: 36px;
	}
	&--soc {
		display: 21px;
		height: 21px;
	}
	&--accent {
		color: $accent;
	}
}