.open-modal {
	overflow: hidden;
	min-height: 100.1vh;
	@media screen and (min-width: 1025px) and (orientation: landscape) {
		padding-right: 17px;
	}
}
.drawer { display: none;}

.drawer__item {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
.drawer__alert .drawer__item,
.drawer__add .drawer__item {
   min-height: auto;
}
.drawer__overlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 99;
   opacity: 0;
   transition: opacity .3s;
   background-color: rgba($text,.5);
   user-select: none;
}
.drawer__wrapper {
   position: relative;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   max-width: 720px;
   z-index: 999;
   overflow: auto;
   transition: transform .4s cubic-bezier(.77, 0, .175, 1);
   will-change: transform;
   background-color: #fff;
   box-shadow: -1px 1px 15px rgba(30, 23, 104, 0.08);
   display: flex;
   flex-direction: column;
   will-change: transform;
   transform: translate3d(103%, 0, 0);
   -webkit-overflow-scrolling: touch;
   @media (max-width: 801px){
      max-width: 100%;
   }
}
.drawer__alert {
   padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
   position: fixed;
   z-index: 999;
   .drawer__fieldset{
      width: 100%;
      max-width: 600px;
      transition: all .3s cubic-bezier(.77,0,.175,1);
      opacity: 0;
      transform: scale3d(.88,.88, 1);
      will-change: transform;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: -1px 1px 15px rgba(30, 23,104,.08);
      position: relative;
      pointer-events: auto;
   }
}
.drawer__add {
   padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
   position: fixed;
   z-index: 999;
   @media (max-width: 700px){
      padding: 0;
   }
   .drawer__fieldset{
      width: 100%;
      max-width: 982px;
      transition: all .3s cubic-bezier(.77,0,.175,1);
      opacity: 0;
      transform: scale3d(.88,.88, 1);
      will-change: transform;
      background-color: #fff;
      box-shadow: -1px 1px 15px rgba(30, 23,104,.08);
      position: relative;
      pointer-events: auto;
   }
}
.drawer.is-visible .drawer__alert .drawer__fieldset,.drawer.is-visible .drawer__add .drawer__fieldset {
   opacity: 1;
   transform: scale3d(1, 1, 1);
   max-height: 100vh;
   overflow: auto;
}
.drawer--lg .drawer__wrapper {
   max-width: 1280px;
}
.drawer__close {
   position: absolute;
   top: 32px;
   right: 20px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4L4.00017 19.9998' stroke='%23727274' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.9998 19.9998L4 4' stroke='%23727274' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 24px;
   width: 30px;
   height: 30px;
   flex-shrink: 0;
   margin-left: 1rem;
   opacity: .6;
   z-index: 1;
   &:hover {opacity: 1;}
   @media (max-width: 500px){
      background-size: 22px;
      top: 28px;
   }
   @media (max-width: 380px){
      top: 25px;
      right: 14px;
   }
   @media (max-width: 360px){
      top: 19px;
   }
}
.drawer__body {
   padding: calc(4.3vh + .7em) calc(1.6vw + 3.8em) calc(3vh + .6em);
   @media (max-height: 649px){
      padding: calc(3.5vh + .6em) calc(1.6vw + 3.8em) calc(3vh + .5em);
   }
   @media (max-width: 500px){
      padding: 1em 20px;
   }
	.form {
		margin: auto;
	}
}
.drawer--lg .drawer__body {
   @media (min-width: 1100px){
      padding: calc(5.1vh + 3.3em) calc(2.4vw + 2.9em) 40px;
   }
}
.drawer--lg:not(.drawer--notable) .drawer__body {
   @media (max-width: 991px) {
   	padding: calc(1vh + 1em) 20px 30px 20px;
   }
   @media (max-width: 767px) {
   	padding: calc(1vh + 1em) 0 30px 30px;
   }
   @media (max-width: 500px) {
   	padding: 14px 0 20px 14px;
   }
}
.drawer--add .drawer__body {
   padding: 3em calc(1vh + .6em) 4em;
	@media (max-width: 991px){
		padding-bottom: 2em;
	}
   @media (max-width: 500px){
      padding: 1.6em 23px 2em;
   }
   @media (max-width: 359px){
      padding: .8em 14px;
   }
}
.drawer__header {
   padding: 0 46px 24px 29px;
   @media (max-width: 500px){
      padding: 15px 50px 13px 11px;
      line-height: 1.3;
   }
   @media (max-width: 380px){
      padding: 16px 40px 13px 16px;
   }
   @media (max-width: 360px){
      padding: 9px 40px 11px 4px;
   }
   &--alert {
      padding: 0;
      border-bottom: none;
      .h1 {
      	padding-bottom: .7em;
      }
   }
   &--form {
      padding: 20px 30px 22px 20px;
      @media (max-width: 500px){
         padding: 10px 25px 17px 3px;
      }
   }
}
.drawer--lg {
   .drawer__header{
      border-bottom: none;
   }
}
.drawer__headline {
   font-size: em(30);
	padding-bottom: .6em;
	position: relative;
   text-align: center;
   @media (max-width: 991px){
      line-height: 1.2;
   }
   @media (max-width: 500px) {
   	font-size: 1.4em;
   }
   @media (max-width: 380px) {
   	font-size: 1.3em;
   }
}
.drawer__subtitle {
   text-align: center;
   padding-bottom: .4em;
}
.drawer__content {
   position: relative;
   height: 100%;
   flex-grow: 1;
   flex-shrink: 0;
}
.drawer.is-active {
   display: block;
}
.drawer.is-visible .drawer__wrapper {
   transform: translate3d(0, 0, 0);
}
.drawer.is-visible .drawer__overlay {
   opacity: 1;
}