.intro {
	min-height: 40vh;
	.s-intro {
		position: relative;
		@media (min-width: 992px){
			overflow: visible;
		}
	}
	&--lg {
		.s-intro {
			padding-bottom: 1em;
			@media (max-width: 991px){
				padding-bottom: 3em;
			}
		}
	}
	&--blue {
		background-color: $bg-light-blue;
	}
	&--green {
		background-color: #D7F4DF;
	}
	&--orange {
		background-color: $bg-light-orange;
	}
	&__row {
		@media (min-width: 992px){
			display: flex;
			align-items: center;
		}
	}
	&__text {
		@media (min-width: 992px){
			order: -1;
			&--lg {
				max-width: 500px;
				.h1 {
					width: 110%;
				}
			}
			&--md {
				max-width: 420px;
			}
		}
		@media (min-width: 1200px){
			margin-right: -100px;
			&--lg {
				max-width: 624px;
				.h1 {
					width: 110%;
				}
			}
			&--md {
				max-width: 510px;
			}
		}
	}
	&__cta {
		padding-top: 0.5em;
	}
	&__pict {
		@media (min-width: 992px){
			margin-left: auto;
			margin-right: -80px;
		}
		@media (max-width: 991px){
			max-width: 480px;
			margin-left: auto;
			margin-right: auto;
		}
		@media (max-width: 500px){
			max-width: 360px;
		}
		@media (max-width: 400px){
			max-width: 270px;
		}
	}
}
.intro + section {
	z-index: 1;
	background-color: #fff;
}
.decor-blur {
	position: relative;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 89.8vmin;
		height: 89.8vmin;
		max-width: 878px;
		max-height: 878px;
		top: 50%;
		left: 22%;
		transform: translate(-50%,-50%);
		opacity: .36;
		@media (max-width: 991px){
			top: 10%;
			left: 50%;
		}
		@media (max-width: 600px){
			opacity: 0.2;
		}
	}
	&--blue:before {
		background: radial-gradient(53.67% 53.67% at 50% 50%, rgba(112, 193, 183, 0.67) 28.13%, rgba(255, 255, 255, 0) 100%);
	}
}
.decor {
	position: relative;
	z-index: 1;
	width: fit-content;
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
	}
	&--o {
		padding-right: 7.2em;
		@media (max-width: 991px){
			padding-right: 4em;
		}
		&:before {
			width: 9.7em;
			height: 9.7em;
			background-image: url(../img/general/icon-sors.svg);
			background-repeat: no-repeat;
			background-size: contain;
			right: 0;
			top: -2.5em;
			@media (max-width: 991px){
				width: 7em;
				height: 7em;
				top: -1.3em;
				opacity: 0.7;
			}
			@media (max-width: 600px){
				width: 6em;
				height: 6em;
				top: -1.4em;
			}
		}
	}
	&--lowered {
		@media (min-width: 1024px){
			top: 3em;
		}
	}
	&--middle {
		align-self: center;
	}
	&--a {
		padding-right: 7.2em;
		@media (max-width: 991px){
			padding-right: 4em;
		}
		&:before {
			width: 12.4em;
			height: 12.4em;
			background-image: url(../img/home/call-decor.svg);
			background-repeat: no-repeat;
			background-size: contain;
			right: -6.6em;
			top: -8.3em;
			@media (max-width: 1100px){
				width: 8em;
				height: 8em;
				opacity: 0.8;
				right: -1em;
				top: -7em;
			}
			@media (max-width: 1023px){
				top: -3em;
				right: -5em;
				width: 6em;
				height: 6em;
			}
		}
		&:after {
			content: '';
			position: absolute;
			z-index: -2;
			left: 86%;
			top: 140%;
			height: 66vmin;
			width: 66vmin;
			max-width: 657px;
			transform: translate(-50%,-50%);
			background: radial-gradient(53.67% 53.67% at 50% 50%, rgba(112, 193, 183, 0.67) 23.44%, rgba(255, 255, 255, 0) 100%);
			background-size: contain;
			opacity: 0.3;
		}
	}
}
.text-bg {
	display: inline-block;
	position: relative;
	padding-right: .5em;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 104%;
		left: -.08em;
		height: 80%;
		top: 4%;
		background-color: $bg-light-blue;
	}
}
.s--blue {
	.text-bg {
		&:before {
			background-color: $bg-blue;
		}
	}
}
[data-double-text] {
	&:before {
		content: attr(data-double-text);
		font-weight: 800;
		text-shadow: 1px 0;
		margin-bottom: 0.2em;
		display: block;
		font-size: 2.4em;
		font-family: $digital-font;
		@media (max-width: 1023px){
			font-size: 2em;
		}
		@media (max-width: 500px){
			font-size: 1.8em;
			color: $accent;
		}
	}
}
.secon {
	&__row {
		@media (min-width: 1024px){
			display: flex;
			justify-content: space-between;
			gap: 3em;
		}
	}
	&__title {
		flex-shrink: 0;
	}
	&__text {
		@media (min-width: 1024px){
			max-width: 722px;
		}
	}
}
.benefits {
	&__row {
		@media (min-width: 1024px){
			display: grid;
			grid-template-columns: repeat(3,1fr);
			gap: 1.6em;
		}
		&--quadro {
			@media (min-width: 768px){
				display: grid;
				grid-template-columns: repeat(2,1fr);
				gap: .3em 1em;
			}
			@media (min-width: 1024px){
				grid-template-columns: repeat(4,1fr);
				gap: 2em;
			}
			@media (min-width: 1100px){
				gap: 2.4em;
			}
		}
	}
	&__title {
		@media (min-width: 360px){
			display: flex;
			align-items: center;
			gap: .5em;
			width: 104%;
			.icon {
				margin-left: -2px;
			}
		}
		padding-bottom: 0.6em;
	}
	&__headline {
		font-size: em(20);
		line-height: 1.2;
	}
}
.argum {
	&__row {
		@media (min-width: 540px){
			display: grid;
			gap: 1.8em;
			grid-template-columns: repeat(2,1fr);
		}
		@media (min-width: 1000px){
			grid-template-columns: repeat(4,1fr);
		}
		@media (max-width: 1024px){
			padding-left: .6em;
		}
	}
	&__item {
		@media (max-width: 539px){
			&:not(:last-child) {
				padding-bottom: 1.8em;
			}
		}
	}
	&__title {
		display: flex;
		gap: 1.2em;
		padding-bottom: 2em;
		align-items: center;
		.h3 {
			line-height: 1.3;
			position: relative;
			z-index: 1;
		}
		@media (min-width: 768px){
			max-width: 200px;
		}
		@media (max-width: 1024px){
			padding-bottom: 1.1em;
		}
	}
}