@font-face {
	font-family: 'Circe';
	src: local('Circe Light'),
	local('Circe-Light'),
	url('../fonts/circe-light.woff2') format('woff2'),
	url('../fonts/circe-light.woff') format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'Circe';
	src: local('Circe Bold'),
	local('Circe-Bold'),
	url('../fonts/circe-bold.woff') format('woff2'),
	url('../fonts/circe-bold.woff') format('woff');
	font-weight: 700;
}
@font-face {
	font-family: 'Mulish';
	src: local('mulish extrabold'),
	local('mulish-extrabold'),
	url('../fonts/mulish-extrabold.woff') format('woff2'),
	url('../fonts/mulish-extrabold.woff') format('woff');
	font-weight: 800;
}